myenv/
input/
__pycache__/
.DS_Store
debug.log

# PyInstaller
dist/
build/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log
# Directories
input/
output/
mosaics/
debug_output/
tiles/
output_videos/
combined_output.png
